<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <form method="POST" action="/checkout"> 
      <h1>Name of Item: <input type="text" name="item"></h1>
      <input id="submit" type="submit"> 

    </form>
  
  </body>
</html>